{% extends "stats/base.html" %}
{% block content %}
    <h1>Fighters!
    {
  "fighters": [
    "Charles Oliveira",
    "Dustin Poirier",
    "Conor McGregor",
    "Dan Hooker",
    "Paul Felder",
    "Al Iaquinta",
    "Kevin Lee",
    "Justin Gaethje",
    "Tony Ferguson",
    "Donald Cerrone",
    "Gregor Gillespie",
    "Diego Ferreira",
    "Beneil Dariush",
    "Nik Lentz",
    "Makwan Amirkhani",
    "Arman Tsarukyan",
    "Clay Guida",
    "Shane Burgos",
    "Edson Barboza",
    "Ryan Hall",
    "Bubba Bush",
    "Jason Gonzalez",
    "Alex White",
    "Thibault Gouti",
    "Marc Diakiese",
    "Frank Camacho",
    "Nasrat Haqparast",
    "Renato Moicano",
    "Scott Holtzman",
    "Matt Wiman",
    "Damir Hadzovic",
    "Yancy Medeiros",
    "Lando Vannata",
    "John Makdessi",
    "Jin Soo Son",
    "Marcin Held",
    "Jordan Rinaldi",
    "Joe Proctor",
    "Jared Gordon",
    "Alex da Silva",
    "Drew Dober",
    "Rafael dos Anjos",
    "James Vick"
  ]
}


    </h1>
{% endblock content %}
